body {
	margin: 8px 17px 54px 17px;
	-webkit-user-select: none;
}

section > div[data-i18n] {
	color: gray;
	margin-bottom: 5px;
}

hr {
	background-color: #ddd;
	border: 0;
	height: 1px;
	text-align: left;
	width: 100%;
}

.radio,
.checkbox {
	padding: 7px 18px;
}

input + span {
	margin-left: 0.2em;
}

#ignore_list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
	min-height: 2em;
}

#ignore_list > li {
}

#ignore_list > li > div {
	position: relative;
	padding: 0.64em 2.5em;
	cursor: default;
}

#ignore_list > li > div:hover {
	background-color: hsl(214, 91%, 97%);
	border-color: hsl(214, 91%, 85%);
}

#ignore_list > li > div > span {
	position: absolute;
	display: block;
	left: 0.64em;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 16px;
	height: 16px;
	line-height: 16px;
	padding: 0;
	width: 16px;
}

#ignore_list > li > div > button {
	position: absolute;
	display: block;
	right: 0.64em;
	height: 16px;
	min-height: 16px;
	width: 16px;
	min-width: 16px;
	padding: 0;
	margin: 0.1em 0 0 0;
	background-color: transparent;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAiElEQVR42r2RsQrDMAxEBRdl8SDcX8lQPGg1GBI6lvz/h7QyRRXV0qUULwfvwZ1tenw5PxToRPWMC52eA9+WDnlh3HFQ/xBQl86NFYJqeGflkiogrOvVlIFhqURFVho3x1moGAa3deMs+LS30CAhBN5nNxeT5hbJ1zwmji2k+aF6NENIPf/hs54f0sZFUVAMigAAAABJRU5ErkJggg==');
	box-shadow: none;
	border: none;
	outline: none;
	cursor: pointer;
}

#ignore_list > li > div:hover > button {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAqUlEQVR4XqWRMQqEMBBF/1E8Ra6x6V3FRnS9QbCxtJg6Z7CzE9lTiIXXyUb3C8EULixDIMM8Zt4kcDfxM5A45U+cgeXnC1tREgkzAgob3hiq3CUHvGLG4FTQoSgxQGDrzN8WTLBGnx2IVDksen9GH7Z9hA5E6uxABMJyCHDMCEGHzugLQPPlBCBNGq+5YtpnGw1Bv+te15ypljTpVzdak5Opy+z+qf//zQ+Lg+07ay5KsgAAAABJRU5ErkJggg==');
}

#ignore_list > li > div > button:hover {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAARElEQVQoz2P4z4AfMlBLAYMdwxkghgEwD1XBGTC0g0sDIaYJECVwFqoChBK4WegKkJWArSJZAQErCDqSKG/iCyhaRhYA9LDIbULDzlIAAAAASUVORK5CYII=');
}

#buttons {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 14px 17px;
	text-align: right;
}

#buttons > input {
	padding: 1px 10px;
	min-height: 26px;
	min-width: 87px;
}
